 body {
  margin: 0;
  background-image: url(./img/Group.png);
  background-position: right;
  background-position-x: right; 
  min-width: 848px;
  height: 100vh;
  right: 592px;
  
  background-repeat: no-repeat;
  font-family: Nunito;
  
}  
.container{
  /* border: 1px solid red; */
  width: 385px;
  position: fixed;
  top: 40%;
  left: 10%;
  float: left !important;
}
.form-group {
  padding: 10px 0px 0px 0px;
  
  margin: 0px 0px 0px 0px;
  
  
}

.btnLogin {
  margin-top: 33px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #Ff9138;
  width: 390px;
  height: 52px;
  border-radius: 8px;
  border-style: none;
  
}

label {
  color: #373839;
  padding: 4px 0px 0px 0px;
  width: 130px;
  height: 23px;
  font-size: 18px;
  
}

 .form-inner {
  background-image: url(./img/LogoAlta.png);
  height: 300px;
 
  background-repeat: no-repeat; 
  min-width: 400px;
  max-height: 500px;
  max-width: fit-content;
  /* margin: 0px 0px 0px 0px;
  padding: 10px, 270px, 10px, 12px; */

  
 
} 

.IPemail{
 width: 100%;
  font-size: 20px;
  border-radius: 8px;
  border-color: #D4D4D7;
  
}

.IPpassword{
  width: 100%;
  font-size: 20px;
  border-radius: 8px;
}
.forgot {
  float: right;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  line-height: 130%;
  color: #FF7506;
  
}
